
<div class="container">
    <div class="list-history">
      <h2 class="list-history-heading">transaction history query</h2>
      <div class="list-history-account row">
        <div class="list-history-right col-4">
          <h3>Total balance <i class="fa fa-eye"></i></h3>
          <div class="div-account-circle">
            <canvas id="myChart"></canvas>
            <!-- </div> -->
          </div>
        </div>
        <div class="list-history-left col-8">
          <h3>My card</h3>
          <div class="list-history-card">
            <img src="../../../../assets/images/dashboard/account-list/card (1).png" alt="" class="img-fluid col-6">
            <div class="list-history-text col-6">
              <h4 class="list-history-card-sub">Account Name</h4>
              <p class="list-history-info">Vũ Văn Diệu</p>
              <h4 class="list-history-card-sub">Card number</h4>
              <p class="list-history-info">1234567890</p>
              <h4 class="list-history-card-sub">Account Balance</h4>
              <p class="list-history-info"></p>
              <h4 class="list-history-card-sub">Status</h4>
              <p class="list-history-info">Active</p>
  
            </div>
          </div>
        </div>
      </div>
      <div class="list-history-query row">
        <div class="list-history-query-item col-4">
          <h4 class="list-history-query-sub col-4">Number Card</h4>
          <input type="text" disabled placeholder="123456789/Vũ Văn Diệu" class="col-8">
          <div></div>
        </div>
        <form #getTime="ngForm" (ngSubmit)="onSubmit(getTime)">
        <div class="list-history-query-item col-4">
          <h4 class="list-history-query-sub col-4">Duration</h4>
          <div class="list-history-time">
            <input type="date"
            name="timeStart"
            ngModel
            required
            [(ngModel)]='myDate1'
            id="test_Datetime"
            autocomplete="on"
            >
            <input type="date"
              name="timeEnd"
              ngModel
              [(ngModel)]='myDate2'
              required
              pattern="\d{4}-\d{2}-\d{2}">
          </div>
          <button type="submit" class="list-history-btn">Choose</button>
        </div>
      </form>
        <div class="list-history-query-item col-4">
          <h4 class="list-history-query-sub col-4">Format</h4>
          <input type="text" disabled placeholder="PDF" class="col-8">
          <button type="button" class="list-history-btn">Download</button>
        </div>
        <div class="list-history-query-item col-4">
           <select class="list-history-query-sub col-4" #transitionFilter (change)="onchangeTransition(transitionFilter.value)">
              <option selected>All</option>
              <option 
              *ngFor="let numberTransiton of numberTransitons"
              [value]="numberTransiton">
              {{numberTransiton}} transaction</option>
           </select>
        </div>
      </div>
    </div>
      <!-- <div class="list-history-query row">
        <form #getTime="ngForm" (ngSubmit)="onSubmit(getTime)">
          <label
            >Khoảng thời gian:
            <input
              type="date"
              name="timeStart"
              ngModel
              required
              [(ngModel)]='myDate1'
              id="test_Datetime"
              autocomplete="on"
          
            />
            <span class="validity"></span>
          </label>
          <label
            >đến
            <input
              type="date"
              name="timeEnd"
              ngModel
              [(ngModel)]='myDate2'
              required
              pattern="\d{4}-\d{2}-\d{2}"
            />
            <span class="validity"></span>
          </label>
          <p>
            <button>Xác nhận</button>
          </p>
        </form>
  
        <div class="list-history-query-item col-4">
          <input type="text" disabled placeholder="PDF" class="col-8" />
          <button class="list-history-btn">Download</button>
        </div>
      </div> -->
    </div>
  <div class="container">
    <div class="list-history">
      <div class="list-history-query row">
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th>Code Transaction</th>
                  <th>Time</th>
                  <th>Amount</th>
                  <th>Ballance</th>
                  <th>Detail</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item1 of dataHistory | paginate:{ itemsPerPage : 5, currentPage : p }">
                  <td>{{ item1.id }}</td>
                  <td>{{ item1.createdAt | date: "medium" }}</td>
                  <td>{{ item1.changedAmount | currency: "VND" | lowercase }}</td>
                  <td>
                    {{ item1.myCurrentBalance | currency: "VND" | lowercase }}
                  </td>
                  <td>
                    <div class="input-group">
                      <textarea readonly disabled
                        class="form-control-plaintext"
                        aria-label="With textarea"
                        >{{ item1.content }}</textarea
                      >
                    </div>
                  </td>
                 
                </tr>
              </tbody>
              <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </table>
          </div>
        </div>
        <p>  
          <button (click)="reset()">reset</button>
        </p>
      </div>
    </div>
  </div>

  <!-- Luat -->
