<div class="container">
  <div class="list-history">
    <h2 class="list-history-heading">transaction history query</h2>
    <div class="list-history-query row">
      <div class="list-history-query-item col-3">
        <h4 class="list-history-query-sub col-4">Number Card</h4>
        <input type="text" disabled placeholder="123456789/Vũ Văn Diệu" class="col-8">
        <div></div>
      </div>
      <form #getTime="ngForm" (ngSubmit)="onSubmit(getTime)">
        <div class="list-history-query-item col-3">
          <h4 class="list-history-query-sub col-4">Duration</h4>
          <div class="list-history-time col-8">
            <input class="col-4" type="date" name="timeStart" ngModel required [(ngModel)]='myDate1' id="test_Datetime"
              autocomplete="on">
            <input class="col-4"  type="date" name="timeEnd" ngModel [(ngModel)]='myDate2' required pattern="\d{4}-\d{2}-\d{2}">
            <button  type="submit" class="list-history-btn ">Filter</button>
            <button  (click)="reset()" class="list-history-btn ms-3 ">Reset</button> 
          </div>

        </div>
       
      </form>
        <div class="list-history-query-item col-3">
          <h4 class="list-history-query-sub col-4">Format</h4>
          <input type="text" disabled placeholder="PDF" class="col-8">
          <button type="button" class="list-history-btn">Download</button>
        </div>
        <div class="list-history-query-item col-3">
          <h4 class="list-history-query-sub col-4"> Latest Transaction  </h4>
           <select id="select-history"  class="list-history-query-sub col-8" #transitionFilter (change)="onchangeTransition(transitionFilter.value)">
              <option selected>All</option>
              <option 
              *ngFor="let numberTransiton of numberTransitons"
              [value]="numberTransiton">
              {{numberTransiton}} transaction</option>
           </select>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="list-history-query row">
        <form #getTime="ngForm" (ngSubmit)="onSubmit(getTime)">
          <label
            >Khoảng thời gian:
            <input
              type="date"
              name="timeStart"
              ngModel
              required
              [(ngModel)]='myDate1'
              id="test_Datetime"
              autocomplete="on"

            />
            <span class="validity"></span>
          </label>
          <label
            >đến
            <input
              type="date"
              name="timeEnd"
              ngModel
              [(ngModel)]='myDate2'
              required
              pattern="\d{4}-\d{2}-\d{2}"
            />
            <span class="validity"></span>
          </label>
          <p>
            <button>Xác nhận</button>
          </p>
        </form>

        <div class="list-history-query-item col-4">
          <input type="text" disabled placeholder="PDF" class="col-8" />
          <button class="list-history-btn">Download</button>
        </div>
      </div> -->
    
  <div class="container">
    <div class="list-history">
      <div class="list-history-query row">
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th>Code Transaction</th>
                  <th>Time</th>
                  <th>Amount</th>
                  <th>Ballance</th>
                  <th>Detail</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item1 of dataHistory | paginate:{ itemsPerPage : 5, currentPage : p }">
                  <td>{{ item1.id }}</td>
                  <td>{{ item1.createdAt | date: "medium" }}</td>
                  <td>{{ item1.changedAmount | currency: "VND" | lowercase }}</td>
                  <td>
                    {{ item1.myCurrentBalance | currency: "VND" | lowercase }}
                  </td>
                  <td>
                    <div class="input-group">
                      <textarea readonly disabled
                        class="form-control-plaintext"
                        aria-label="With textarea"
                        >{{ item1.content }}</textarea
                      >
                    </div>
                  </td>
                 
                </tr>
              </tbody>
              <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </table>
          </div>
        </div>
        <p>  
        </p>
      </div>
    </div>
  </div>
<!-- Luat -->
