<div class="app-main__outer">
    <div class="app-main__inner">
  
      <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="pe-7s-photo-gallery icon-gradient bg-mean-fruit">
                    </i>
                </div>
                <div>
                  <br> <br><br>My card (4)
                    <div class="page-title-subheading">Thank you for using our service.</div>
                </div>
            </div>
            <div class="page-title-actions">
                <button type="button" data-toggle="tooltip" title="Example Tooltip" data-placement="bottom" class="btn-shadow mr-3 btn btn-dark">
                    <i class="fa fa-star"></i>
                </button>
                <div class="d-inline-block dropdown">
                    <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-right">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a href="javascript:void(0);" class="nav-link">
                                    <i class="nav-link-icon lnr-inbox"></i>
                                    <span>
                                        Inbox
                                    </span>
                                    <div class="ml-auto badge badge-pill badge-secondary">86</div>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="javascript:void(0);" class="nav-link">
                                    <i class="nav-link-icon lnr-book"></i>
                                    <span>
                                        Book
                                    </span>
                                    <div class="ml-auto badge badge-pill badge-danger">5</div>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="javascript:void(0);" class="nav-link">
                                    <i class="nav-link-icon lnr-picture"></i>
                                    <span>
                                        Picture
                                    </span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a disabled href="javascript:void(0);" class="nav-link disabled">
                                    <i class="nav-link-icon lnr-file-empty"></i>
                                    <span>
                                        File Disabled
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
          </div>
    </div>
  
        <div class="tab-content">
            <div class="tab-pane tabs-animation fade show active" id="tab-content-1" role="tabpanel">
              <div>
              <!-- </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="mb-3 card card-body">
                          <h5 class="card-title">VISA_DEBIT_NORMAL
                           </h5><img width="100%" src="assets/images/card/hdbank-visa-credit-g-5e5b.png" alt=""><br>
                            <h6>Tên chủ thẻ : NGUYỄN CÔNG LUẬT</h6>
                            <h6>Số thẻ : 77979XXXX6666</h6>
                            <h6>Tình trạng : Đang hoạt động</h6> <br>
                            <button class="btn btn-primary">Khóa thẻ</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                      <div class="mb-3 card card-body">
                        <h5 class="card-title">VISA_DEBIT_NORMAL
                         </h5>
                         <img width="100%" src="assets/images/card/hdbank-visa-credit-g-5e5b.png" alt="">
                         <h6>Tên chủ thẻ : NGUYỄN CÔNG LUẬT</h6> <br>
                         <h6>Số thẻ : 77979XXXX6666</h6> <br>
                          <button class="btn btn-primary">Khóa thẻ</button>
                      </div>
                  </div>
                </div> -->
                <div class="row">
                  <div class="col-md-6">
                    <div class="mb-3 card card-body">
                      <h5 class="card-title">VISA_DEBIT_NORMAL
                       </h5>
                       <div class="card-img">
                        <img src="src//assets//images/dashboard/account-list/card-account.jpg" alt=""><br>
                       </div>
                       <div class="card-text">                           
                           <h6>Account name : NGUYEN CONG LUAT</h6>
                           <h6>Card number : 57979<sup>XXXX</sup>6666</h6>
                           <h6>Status : <sup>Active 20-09-2018</sup> </h6> <br>
                           <h3><button class="btn btn-primary">Lock card</button></h3>
                       </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="mb-3 card card-body">
                      <h5 class="card-title">VISA_DEBIT_NORMAL
                       </h5><img width="100%" src="/src/assets/images/dashboard/account-list/card-account.jpg" alt=""><br>
                        <h6>Account name : NGUYEN CONG LUAT</h6>
                        <h6>Card number : 77979 <sup>XXXX</sup> 6666</h6>
                        <h6>Status : <sup>Active 20-01-2022</sup> </h6> <br>
                        <h3><button class="btn btn-primary">Lock card</button></h3>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="mb-3 card card-body">
                      <h5 class="card-title">VISA_DEBIT_NORMAL
                       </h5><img width="100%" src="/src/assets/images/dashboard/account-list/card-account.jpg" alt=""><br>
                        <h6>Account name : NGUYEN CONG LUAT</h6>
                        <h6>Card number : 77979 <sup>XXXX</sup> 6666</h6>
                        <h6>Status : <sup>Active 20-01-2022</sup> </h6> <br>
                        <h3><button class="btn btn-primary">Lock card</button></h3>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="mb-3 card card-body">
                      <h5 class="card-title">VISA_DEBIT_NORMAL
                       </h5><img width="100%" src="assets/images/card/cardmbbank.jpg" alt=""><br>
                        <h6>Account name : NGUYEN CONG LUAT</h6>
                        <h6>Card number : 77979 <sup>XXXX</sup> 6666</h6>
                        <h6>Status : <sup>Active 20-01-2022</sup> </h6> <br>
                        <h3><button class="btn btn-primary">Lock card</button></h3>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
   </div>
