/* .card-img  {
    height: 200px;
    max-width: 400px;
}
.card-img img {
    display: block;
}

.text-path {
    margin-top: 20px;
}


 */
 .accountlist_page {
    margin-bottom: 3rem;
}

 .container  {
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

.card  {
    height: 90px;
}
.bg-dark {
    background-image: linear-gradient(200deg
    , rgba(255, 0, 234, 0.589), rgba(0, 81, 255, 0.521));
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 80%;
}
.card-img-overlay {
 top: 120px;
}
.ti {
    display: inline-block;
    margin: 0 5px;
    
} 

.colum  {
    position: absolute;
    top: 40% ;
}
.colum a {
    text-decoration: none;
    color: white;
    font-size: 1.8rem;

}

.main-content {
    display:flex;
    flex-wrap: wrap;
    max-width: 1080px;
    margin: 0 auto;
    flex-direction: column;
}


.main-item {
  margin-top: 30px;
  display: flex;
  border-bottom: 2px solid black;
  padding-bottom: 1rem;
}

.main-item img {
    max-width: 540px;
}
.atm-item {
    position: relative;
    color: white;

}
.text-atm {
    position: absolute ;
    width: 100%;
    z-index: 999;
    top: 70%;
    left: 10%;
}
.text-atm_number {
  font-size: 1.6rem;
}
.text-epire  {
    position: absolute;
    top: 85%;
    left: 10%;
    line-height: 1.5rem;
    font-weight: 700;
}
.atm_info_right {
    flex: 1;
    display: flex;
    flex-direction: column;
    font-size: 100%;
}
.atm_info_right h2 {
    margin: 0 auto;
    font-size: 1.6rem;
}
.list-group-item {
    display: flex;
    background-color: #5d2e86;
    color: white;
    border: none;
    outline: none;
    padding: 1rem;
    line-height: 1.5rem;
    justify-content: space-between;
}
.atm_info_right_list {
    width: 80%;
    margin: 0 auto;
    margin-top: 15px;
}
.card-action {
    display: flex;
    margin-top: 1.5rem;
}

.atm-select {
    margin: 0 auto;
}

.card-img-overlay {
    top: 0
}

.position-relative  span {
    background-color: #5d2e86;
    color: #fe9901 !important;
}










