
<div class="accountlist_page">
    <div class="card bg-dark text-white">
    
        <div class="card-img-overlay">
          <div class="colum">
              <div class="text-path">
    
                  <a href="http://">Home</a>
                  <div class="ti ti-angle-right"></div>
                  <a href="http://">List Account</a>
              </div>
          </div>
        </div>
      </div>
      <div class="main-content" *ngFor="let account of accounts">

        <div class=" mb-3 main-item">
            <div class="atm-item">
                <img src="../../../../assets/images/dashboard/account-list/card (1).png" class="img-fluid rounded-start" alt="...">
                <div class="text-atm">
                    <p class="text-atm_number">{{ account.accountNumber}}</p>
                </div>
                 <p class="text-epire">CREATE DATE : {{ account.createdAt }}</p>
            </div>
            <div class="atm_info_right">
                <h2>Account infomation</h2>
                <div class="atm_info_right_list">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <p  class="list-group-item_text">Card status</p>
                            <div *ngIf="account.active === 1 ; else StatusLock" class="badge  text-wrap">
                                Active
                              </div>
                              <ng-template #StatusLock>
                                <div  class="badge  text-wrap fs-6">
                               LOCKED
                              </div>
                              </ng-template>                            
                        </li>
                        <li class="list-group-item">
                            <p class="list-group-item_text">Card own's</p>
                            <div class="badge  text-wrap">
                               {{account.userName}}
                              </div>                            
                        </li>
                        <li class="list-group-item">
                            <p class="list-group-item_text">Expire Date</p>
                            <div class="badge  text-wrap">
                                {{account.createdAt}}
                              </div>                            
                        </li>
                        <li class="list-group-item">
                            <p class="list-group-item_text">Ballance</p>
                            <div class="badge  text-wrap">
                                {{account.balance}}
                              </div>                            
                        </li>
                        
                      </ul>
                      <div class="card-action">
                          <div class="atm-select position-relative">
                              <button class="btn btn-primary " (click)="onSelect(account.accountNumber)" [disabled]="((account.active !== 1) || account.accountNumber == currentAccount)">Select Card
                              </button>
                              <span *ngIf="account.accountNumber == currentAccount && (account.active === 1)" class="position-absolute top-0 start-100 translate-middle badge rounded-pill">
                                  selected
                                </span>
                          </div>
                          <div>
                              <button *ngIf="account.active === 1 ; else lockedBlock" class="btn btn-primary " (click)="onLock(account.accountNumber)">Lock
                              </button>
                              <ng-template #lockedBlock>
                                <button  class="btn btn-primary">UnLocked
                                </button>
                              </ng-template>
                          </div>
                      </div>
                </div>
                
            </div>
           
            </div>
      </div>
</div>