<div class="container">

    <h2 mat-dialog-title>Verify  OTP</h2>
    <p class="mt-4"> OTP has sent to  phone number
        <br>
        +84 {{phoneNumber}}
    </p>
<div mat-dialog-content class="verify-content form-group">
 <div>
    <input type="text" placeholder="Enter Your OTP" #otpCode class="form-control" [class.is-invalid]="verifyError.isError" >
 </div>
    <button mat-raised-button   class="btn-transfer" type="button" id="verify" (click)="verify(otpCode.value)">Verify</button>
</div>
<div *ngIf="verifyError.isError" class="alert alert-danger alert-dismissible d-flex align-items-center fade show">
    <i class="bi-exclamation-octagon-fill"></i>
    <strong class="mx-2">Error!</strong>OTP is not correct , please try again
</div>


