<footer class="container-fluid">
  <div class="footer-content container">
    <div class="footer-about footer-item">
      <h2>About</h2>
      <div class="footer-about-content">
        <p>
          <span class="material-icons">
            account_balance
          </span>
          Online banking
        </p>
        <p>
          <span class="material-icons">
            paid
          </span>automatic money transfer
        </p>
        <p>
          <span class="material-icons">
            savings
          </span>save money
        </p>
      </div>
    </div>
    <div class="footer-contact footer-item">
      <h2>Contact</h2>
      <div class="footer-contact-content">
        <p>
          <span class="fab fa-facebook"></span>
          Facebook
        </p>
        <p>
          <a href="tel:0971548331" class="d-flex align-items-center text-white">
            <span class="fa fa-mobile-alt"></span>HOTLINE :+84971548331
          </a>
        </p>
        <p>
          <a 
          href="mailto:onlinebanking@gmail.com?cc=luatncth2007024@fpt.edu.vn,hiepnhth2007013@fpt.edu.vn,&bcc=dieuvvth2007058@fpt.edu.vn&subject=Mail from MT BANK &body=What can us help you.Thank and best regrads" 
          class="d-flex align-items-center text-white">
            <span class="fa fa-envelope"></span>onlinebanking@gmail.com
          </a>
        </p>
      </div>
      <div class="footer-form-contact">
        <form class="row g-3 d-flex footer-form">
          <div class="col-8">
            <label for="inputPassword2" class="visually-hidden">Send email support</label>
            <input type="email" class="form-control" id="inputPassword2" placeholder="Enter your email">
          </div>
          <div class="col-4">
            <button type="button" class="footer-button">SEND</button>
          </div>
        </form>
      </div>
    </div>
    <div class="footer-map ">
      <h2>Map</h2>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.096484165613!2d105.78010801412323!3d21.028825093153884!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab86cece9ac1%3A0xa9bc04e04602dd85!2zRlBUIEFwdGVjaCBIw6AgTuG7mWkgLSBI4buHIFRo4buRbmcgxJDDoG8gVOG6oW8gTOG6rXAgVHLDrG5oIFZpw6puIFF14buRYyBU4bq_IChTaW5jZSAxOTk5KQ!5e0!3m2!1sen!2s!4v1648746422793!5m2!1sen!2s"
        width="100%" height="200px" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>

    </div>
  </div>
</footer>
