<div class="container" style="padding: 0 4rem 4rem;">
  <h2 class="account-heading">my account</h2>
  <div class="row">
    <div class="col-9 d-flex account-dashboard">
      <div class="account-left col-6">
        <div class="d-flex flex-column">
          <h2 class="account-left-heading">Total money in the account</h2>
          <div class="account-left-circle">

            <div class="div-account-circle">
              <canvas id="myChart"></canvas>
              <!-- </div> -->
            </div>
          </div>
          <div class="account-left-total">
            <h3 class="">Total Accounts Balance : </h3>
            <p><span class="account-price">{{valuePrice}}</span>VND</p>
            <div>
              <i [className]="eyes.eyesCLose" id="eyes"></i>
              <span class="showInfoEyes">{{eyesDisplay}} account balance</span>
            </div>
          </div>
        </div>
      </div>
      <div class="account-right col-6">
        <div class="d-flex flex-column">
          <div class="account-right-item" id="account-card">
            <i class="fab fa-cc-visa"></i>
            <div class="col-6">
              <p class="account-text"><a href="">My Account</a></p>
              <span class="card-number">{{myAccount.currentAccount}}</span>
            </div>
            <i class="fa fa-long-arrow-alt-right"></i>
          </div>
          <div class="account-right-item">
            <i class="fa fa-dollar-sign"></i>
            <div class="col-6">
              <p class="account-text"><a href="">My Blance</a></p>
              <span class="account-price">{{valuePrice}}</span>
              VND
            </div>
            <i class="fa fa-long-arrow-alt-right"></i>
          </div>


          <div class="account-right-item">
            <i class="fa fa-piggy-bank"></i>
            <div class="col-6">
              <p class="account-text"><a href="">Saving Accounts ({{this.myAccount.savingBooksCount}})</a></p>
              <span class="account-price">{{valuePrice}}</span>
              VND
            </div>
            <i class="fa fa-long-arrow-alt-right"></i>
          </div>
          
        </div>
      </div>
    </div>
    <div class="col-3 account-tool">
      <h2>Profit calculator</h2>
      <div class="account-tool-banner">
      </div>
      <div class="account-tool-form">
        <form>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Deposits</label>
            <input type="number" name="userInputAmount" ngModel [(ngModel)]="depositCaclute.amount" class="form-control" id="inputDeposits" 
              placeholder="Enter the Deposits" step="1">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Choose a term</label>
            <select class="form-select"name="listPackage" #listPackage [(ngModel)]="listPackage.value">
              <option selected>Select Packages</option>
              <option *ngFor="let savingPackage of savingPackages"  [value]="savingPackage.id">
                Package {{savingPackage.id}} :  {{savingPackage.packageName}} - {{savingPackage.interest}} % /year
            </option>
            </select>
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Predicted profit</label>
            <input type="text" [value]="depositCaclute.predictProfit + ' VND'" readonly class="form-control" placeholder="-">
          </div>
          <button class="btn btn-success btn-done" (click)="caculateDeposit(listPackage.value)" type="button">Done</button>
        </form>
      </div>
    </div>
  </div>

</div>
