
  <h2 class="account-heading">my account</h2>
  <div class="row">
    <div class="col-9 d-flex account-dashboard">
      <div class="account-left col-6">
        <div class="d-flex flex-column">
          <h2 class="account-left-heading">Total money in the account</h2>
          <div class="account-left-circle">
            
            <div class="div-account-circle">
              <canvas id="myChart"></canvas>
              <!-- </div> -->
            </div>
          </div>
          <div class="account-left-total">
            <h3 class="">Tổng tài sản : </h3>
            <p><span class="account-price">{{valuePrice}}</span>VND</p>
            <div>
              <i [className]="eyes.eyesCLose" id="eyes"></i>
              <span class="showInfoEyes">{{eyesDisplay}} account balance</span>
            </div>
          </div>
        </div>
      </div>
      <div class="account-right col-6">
        <div class="d-flex flex-column">
          <div class="account-right-item" id="account-card">
            <i class="fab fa-cc-visa"></i>
            <div class="col-6">
              <p class="account-text"><a href="">My card</a></p>
              <span class="card-number">{{myAccount.currentAccount}}</span>
            </div>
            <i class="fa fa-long-arrow-alt-right"></i>
          </div>
          <div class="account-right-item">
            <i class="fa fa-dollar-sign"></i>
            <div class="col-6">
              <p class="account-text"><a href="">My Blance</a></p>
              <span class="account-price">{{valuePrice}}</span>
              VND
            </div>
            <i class="fa fa-long-arrow-alt-right"></i>
          </div>


          <div class="account-right-item">
            <i class="fa fa-piggy-bank"></i>
            <div class="col-6">
              <p class="account-text"><a href="">Saving Account</a></p>
              <span class="account-price">{{valuePrice}}</span>
              VND
            </div>
            <i class="fa fa-long-arrow-alt-right"></i>
          </div>
          <div class="account-right-item">
            <i class="fa fa-exchange-alt"></i>
            <div class="col-6">
              <p class="account-text"><a href="">Switch Account</a> </p>
            </div>
            <i class="fa fa-long-arrow-alt-right"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3 account-tool">
      <h2>Profit calculator</h2>
      <div class="account-tool-banner">
      </div>
      <div class="account-tool-form">
        <form>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Deposits</label>
            <input type="number" maxlength="10" class="form-control" id="inputDeposits" minlength="1" min="1"
              placeholder="Enter the Deposits" step="1">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Choose a term</label>
            <select class="form-select" aria-label="Default select example">
              <option selected>Open this select menu</option>
              <option value="1">One week</option>
              <option value="2">One moth</option>
              <option value="3">One year</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Predicted profit</label>
            <input type="number" class="form-control" id="exampleInputEmail1" disabled placeholder="-">
          </div>
          <button class="btn btn-success btn-done" type="button">Done</button>
        </form>
      </div>
    </div>
  </div>


 <!--
<div class="account">
  <h2 class="account-heading">xin chao{{ this.cart?.userName }}</h2>
  <div class="row">
    <div class="col-9 d-flex account-dashboard">
      <div class="account-left col-6">
        <div class="d-flex flex-column">
          <h2 class="account-left-heading">
            Total money
          </h2>
          <div class="account-left-circle">
           <canvas class="circle">
            </canvas>



            <h2>100%</h2>
          </div>
          <div class="account-left-total">
            <h3 class="">Tổng tài sản :</h3>
            <p>
              <span class="account-price">{{ this.totalNumberCart }}</span
              >VND
            </p>
            <i class="fa fa-eye"></i>
          </div>
        </div>
      </div>
      <div class="account-right col-6">
        <div class="d-flex flex-column">
          <div class="account-right-item">
            <i class="fa fa-piggy-bank"></i>
            <div class="col-6">
              <p class="account-text">My Blance</p>
              <span class="account-price">{{ this.cart?.balance }} </span>
              VND
            </div>
            <i class="fa fa-long-arrow-alt-right"></i>
          </div>
          <div class="account-right-item">
            <i class="fab fa-cc-visa"></i>
            <div class="col-6">
              <p class="account-text">My card (2)</p>
            </div>
            <i class="fa fa-long-arrow-alt-right"></i>
          </div>
          <div class="account-right-item">
            <i class="fa fa-piggy-bank"></i>
            <div class="col-6">
              <p class="account-text">saving account</p>
              <span class="account-price">99999 </span>
              VND
            </div>
            <i class="fa fa-long-arrow-alt-right"></i>
          </div>
          <div class="account-right-item">
            <i class="fa fa-exchange-alt"></i>
            <div class="col-6">
              <p class="account-text">Transfer account</p>
            </div>
            <i class="fa fa-long-arrow-alt-right"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3 account-tool">
      <h2>Profit calculator</h2>
      <div class="account-tool-banner"></div>
      <div class="account-tool-form">
        <form>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Deposits</label>
            <input
              type="number"
              class="form-control"
              id="exampleInputEmail1"
              min="1"
              placeholder="Enter the Deposits"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"
              >Choose a term</label
            >
            <select class="form-select" aria-label="Default select example">
              <option selected>Open this select menu</option>
              <option value="1">One week</option>
              <option value="2">One moth</option>
              <option value="3">One year</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label"
              >Predicted profit</label
            >
            <input
              type="number"
              class="form-control"
              id="exampleInputEmail1"
              disabled
              placeholder="Predicted profit"
            />
          </div>
          <button class="btn btn-success btn-done" type="button">Done</button>
        </form>
      </div>
    </div>
  </div>
</div>
  -->
<!--  


              Luat
 <div class="account">
    <h2 class="account-heading">Welcome to {{ this.cart?.userName }}</h2>
    <div class="row">
      <div class="col-9 d-flex account-dashboard">
        <div class="account-left col-6">
          <div class="d-flex flex-column">
            <h2 class="account-left-heading">Total money in the account</h2>
            <div class="account-left-circle">
        
              <h2>100%</h2>
            </div>
            <div class="account-left-total">
              <h3 class="">Tổng tài sản : </h3>
              <p><span class="account-price">{{ this.totalNumberCart }}</span>VND</p>
              <div>
                <i [className]="eyes.eyesCLose" id="eyes"></i>
                <span class="showInfoEyes">{{eyesDisplay}} account balance</span>
              </div>
            </div>
          </div>
        </div>
        <div class="account-right col-6">
          <div class="d-flex flex-column">
            <div class="account-right-item" id="account-card">
              <i class="fab fa-cc-visa"></i>
              <div class="col-6">
                <p class="account-text">My card</p>
                <span class="card-number">{{ this.cart?.accountNumber }}</span>
              </div>
              <i class="fa fa-long-arrow-alt-right"></i>
            </div>
            <div class="account-right-item">
              <i class="fa fa-piggy-bank"></i>

              <div class="col-6">
                <p class="account-text">My Blance </p>
                <span class="card-number">{{ this.cart?.balance }}</span>
              </div>

              <i class=""> <a routerLink="/dashboard/history" class="mm-active"> <i class="fa fa-long-arrow-alt-right"></i></a></i>
            </div>
  
            <div class="account-right-item">
              <i class="fa fa-piggy-bank"></i>
              <div class="col-6">
                <p class="account-text">saving account</p>
                <span class="account-price">{{valuePrice}}</span>
                VND
              </div>
              <i class="fa fa-long-arrow-alt-right"></i>
            </div>
            <div class="account-right-item">
              <i class="fa fa-exchange-alt"></i>
              <div class="col-6">
                <p class="account-text">Transfer account</p>
              </div>
              <i class="fa fa-long-arrow-alt-right"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-3 account-tool">
        <h2>Profit calculator</h2>
        <div class="account-tool-banner">
        </div>
        <div class="account-tool-form">
          <form>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Deposits</label>
              <input type="number" class="form-control" id="exampleInputEmail1" min="1" placeholder="Enter the Deposits">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Choose a term</label>
              <select class="form-select" aria-label="Default select example">
                <option selected>Open this select menu</option>
                <option value="1">One week</option>
                <option value="2">One moth</option>
                <option value="3">One year</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Predicted profit</label>
              <input type="number" class="form-control" id="exampleInputEmail1" disabled placeholder="Predicted profit">
            </div>
            <button class="btn btn-success btn-done" type="button">Done</button>
          </form>
        </div>
      </div>
    </div>
  </div>
   -->
