.account {
  padding: 2rem;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: capitalize;
  background-color: #ebebfa;
}

.account-heading {
  font-size: 3rem;
  font-weight: 600;
  text-transform: capitalize;
  letter-spacing: 2px;
  margin-bottom: 1.5rem;
  color: #42236a;
  /* margin-left: 2rem; */
}

.account-dashboard {
  font-size: 16px;
  border: 2px solid #fff;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem 0 rgb(0 0 0 / 20%);
  background-color: #fff;
}

.account-left-heading {
  font-size: 2rem;
  font-weight: 400;
  color: white;
  letter-spacing: 1.5px;
  color: #37236a;
}

.account-left {
  margin-right: 1rem;
}

.div-account-circle {
  padding: 10px;
}

.account-left-circle h2 {
  font-size: 3rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: rgba(254, 153, 1);
}

.account-left-total {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 2rem;
  color: white;
  margin-top: 1rem;
  width: 450px;
  background: linear-gradient(to bottom, #7b35bb, #5d2e86) !important;
}

.account-left-total h3 {
  margin: 0;
  text-transform: uppercase;
}

.account-left-total p {
  margin: 0 0.5rem;
}

.account-left-total i {
  color: rgba(254, 153, 1);
  cursor: pointer;
}

.account-price {
  margin-right: 0.5rem;
  font-style: italic;
  color: #ff9800;
  font-weight: 500;
}

.account-price i {
  color: blue;
}

/* account right  */
.account-right {
  padding: 2rem;
  font-weight: 600;
}
.account-right .account-text {
  font-weight: 400;
  font-size: 2rem;
  margin: 0;
}
.account-right .account-text a {
  text-decoration: none;
  color: #ebebfa;
  display: block;
  width: 100%;
  font-size: 1.5rem;
}
.account-right-item {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1.5rem;
  margin: 1rem 0;
  width: 106%;
  border: 1px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
  color: #fff;
  font-weight: 400;
  background: linear-gradient(to bottom, #7b35bb, #5d2e86) !important;
}
.account-right-item:first-child {
  margin-top: 6rem;
}
.account-right-item i:first-child {
  font-size: 4rem;
  color: rgba(254, 153, 1);
}

.account-right-item:hover i:last-child {
  color: rgba(254, 153, 1);
}

/* account-tool */
.account-tool {
  font-size: 2rem;
  font-weight: 500;
  border: 2px solid #fff;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem 0 rgb(0 0 0 / 20%);
  background-color: #fff;
}

.account-tool h2 {
  margin-bottom: 1rem;
  color: #42236a;
  font-weight: 400;
}

.account-tool-banner {
  background-image: url(../../../../assets/images/home/WP_ONLINEBANKS.jpg);
  background-size: contain;
  height: 100px;
  width: 100%;
}

.account-tool-form {
  margin-top: 1rem;
}
.account-tool-form .form-label {
  font-weight: 400;
  color: #42236a;
}
.account-tool-form input {
  padding: 2rem;
  background: linear-gradient(to bottom, #7b35bb, #5d2e86) !important;
  font-size: 1.5rem;
  color: #fff;
}
.account-tool-form input::placeholder {
  font-size: 1.5rem;
  color: #ff9800;
}
.account-tool-form .form-select {
  font-size: 1.5rem;
  color: #ff9800;
  background: linear-gradient(to bottom, #7b35bb, #5d2e86) !important;
}
.account-tool-form .form-select option {
  background-color: #ebebfa;
  color: #42236a;
}
.account-tool-form input:focus {
  box-shadow: none;
  outline: none;
}

.account-tool-form select {
  padding: 2rem;
}

.account-tool-form select:focus {
  box-shadow: none;
  outline: none;
}

.account-tool-form button {
  min-width: 180px;
}

.account-tool-form .form-control:focus {
  border: 1px solid #ced4da;
}

.account-tool-form .form-select:focus {
  border: 1px solid #ced4da;
}

.btn-done {
  background: linear-gradient(to bottom, #7b35bb, #5d2e86) !important;
  color: #ff9800 !important;
  width: 100%;
}

/* banner */
/* .banner {
  padding: 0;
  width:100account-right-item%;
  overflow: scroll;
} */

.card-info-none {
  display: none;
}
.card-info-none h2 {
  font-size: 0.75rem;
}
.card-number {
  font-style: italic;
  color: rgba(254, 153, 1);
  cursor: pointer;
  font-weight: 500;
}
/* hiển thị hove mắt */
.account-left-total #eyes {
  position: relative;
}
.showInfoEyes {
  position: absolute;
  display: block;
  transform: translate(-80px, -87px);
  height: 50px;
  line-height: 50px;
  border-radius: 10px;
  border: 1px solid #ccc;
  background-color: #42236a;
  opacity: 0;
  /* display: none; */
  /* top: 100%; */
  /* transform: translateX(10px); */
  transition: 0.5s all;
}
.showInfoEyes::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  background-color: #42236a;
  border-top: transparent;
  border-right-color: transparent;
  display: block;
  transform: rotate(45deg);
  bottom: -8px;
  left: 78px;
}
.account-left-total #eyes:hover ~ .showInfoEyes {
  opacity: 1;
}
