<div class="container-fluid row">
  <div class="account col-10">
    <div class="row">
      <h2 class="account__heading">My Account</h2>
      <div class="account__price col-6">
        <div class="account__circle">
          <p>100%</p>
        </div>
        <div class="account__total">
          <p>
            My total :
            <span>1.9.7.66</span> VND
          </p>
        </div>
      </div>
      <div class="account__service col-6 ">
        <div class="account__item">
          <button>
            <p>
              <span><i class="fa fa-university"></i>account balance</span>
              <br>
              <span class="balance">177.655.76 VND</span>
            </p>
          </button>
        </div>
        <div class="account__item">
          <button>
            <p>
              <span><i class="fab fa-cc-visa"></i>Card (2)</span>
            </p>
          </button>

        </div>
        <div class="account__item">
          <button>
            <p>
              <span><i class="fa fa-piggy-bank"></i>account saving</span>
            </p>

          </button>
        </div>
        <div class="account__item">
          <button>
            <p>
              <span><i class="fa fa-exchange-alt"></i>transfer account</span>
            </p>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-2">

  </div>
</div>
