.login-page {
    background-image: linear-gradient(200deg
  , rgba(255, 0, 234, 0.589), rgba(0, 81, 255, 0.521)),
  url('../../../../src/assets/background.webp');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 100vh;
}
.container {
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 15px;
    
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_navbar-item {
    margin-left: 50px;
}
.header_navbar-link {
    transition: opacity 0.2s;
    margin-left: 5px;
    
}
.header_navbar-item :hover {
    color: #ff9800;
    opacity: 0.6;

}
.header_navbar-item , .header_navbar-link{
    display: inline-block;
    font-size: 1.6rem;
    color: #fff;
    text-decoration: none;
}

.header_navbar-list {
    padding-left: 0;
}

/* Login-form */

.content-wrap {
    margin-top: 15vh;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    max-width: 350px;
    box-shadow: 15;
}
.content-wrap form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.content-wrap form h2 {
    font-size: 2rem;
    font-weight: 500;
    color: #fff;
}
.content-wrap form a {
    margin-top: 20px;
    font-size: 1.4rem;
    transition: opacity 0.2s;
    font-weight: 600;
    color: #fff;
}
.content-wrap form a:hover {
    color: #ff9800;
    opacity: 0.6;
}
.box {
    padding: 0px 16px;
    height: 48px;
    background-color: rgba(0, 0, 0,0.4);
    border: 1px solid rgba(226,216,238,.3);
    width: 100%;
     color: #fff;
     outline: none;
      margin: 15px auto 15px auto   ;
      font-size: 1.4rem;
      font-weight: 400;
}
.box::placeholder {
    color:#ff9800;
    
}

.content-wrap form button {
    cursor: pointer;
    font-size: 1.6rem;
}

.login-error {  
    width: 100%;
    color: #fff;
    font-weight: 500;
    font-size: 1.4rem;
    display: flex;
}

.btn-login {
    width: 100%;
    height: 48px;
    /* background-image: linear-gradient(to bottom,#7b35bb,#5d2e86); */
    background-color: #7b35bb;
    margin-top: 20px;
    transition: opacity 0.2s;
}

/* Error Modal */
  
  .content {
    padding: 1rem;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
    color: #4f005f;
    line-height: 1.4;
    margin-bottom: 10px;
  }
  
  .actions {
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
  }


  .modal-header {
    padding: 1rem;
    background: #4f005f;
  }
  .modal-header h2 {
      margin: 0;
      color: white;
  }
  
  .left {
      width: 200px;
  }
  .left a img {
        width: 100%;
        background-size: cover;
  }

  

