<div class="login-page">
        <div class="container">
            <div class="header">
                <div class="left">
                    <a href="">
                        <img src="assets\login.svg" class="header_logo" alt="">
                    </a>
                    
                </div>
                <div class="header_navbar">
                    <ul class="header_navbar-list">
                        <li class="header_navbar-item">
                            <span class="ti-home"></span>
                            <a href="" class="header_navbar-link">Home</a>
                        </li>
                        <li class="header_navbar-item">
                            <span class="ti-help-alt"></span>
                            <a href="" class="header_navbar-link">About us</a>
                        </li>
                        <li class="header_navbar-item">
                            <span class="ti-headphone"></span>
                            <a href="" class="header_navbar-link">Hotline</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="content-wrap">
                <form #loginForm ="ngForm" (ngSubmit)="loginForm.valid && onLogin(loginForm)" class="form">
                    <h2>Sign In</h2>
                    <input  type="text" id="phone" name="phone" maxlength="10"   ngModel required  #userPhone ="ngModel"  class="box" placeholder="Enter Phonenumber" >
                    <div *ngIf="userPhone.errors?.['required'] && loginForm.submitted " class="login-error" >
                        <span>  Field phonenumber is not  be blanked</span>
                    </div>
                    <input type="password" id="password" minlength="6" name="password" ngModel required  #userPassword ="ngModel" class="box"
                    placeholder="Enter Password">
                    <div *ngIf ="userPassword.errors?.['required'] && loginForm.submitted" class="login-error" >
                        <span>Field password is not  be blanked</span>
                    </div>
                    <div *ngIf ="userPassword.errors?.['minlength'] && loginForm.submitted" class="login-error" >
                        <span>password length at least 6 words </span>
                    </div>                   
                    <button  class="btn btn-primary btn-login" data-bs-target="#loginModal">Login</button>
                    <a href="" class="">Forgot Password</a>
                </form>                                    
            </div>

        </div>
  <!-- Modal -->
  <div *ngIf="loginForm.valid" class="modal fade"  id="loginModal" tabindex="-1" aria-labelledby="loginModal" aria-hidden="false">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" id="loginModal">ERROR LOGIN</h2>
        </div>
        <div class="modal-body content">
            {{errMessage}}
            <br>
            <p *ngIf="supMessage; else elseBLock"> {{ supMessage }}</p>
            <ng-template #elseBLock>Please login again </ng-template>
        </div>
        <div class="actions">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id ='btnDismiss' >OK</button>
        </div>
      </div>
    </div>
  </div>
</div>
