
/* GLOBAL */

html, body {
    font-family: 'Work Sans', sans-serif;
}
.heading {
    text-align: center;
    margin-bottom: 3rem;
}

.heading h2 {
    font-size: 40px;
    color: #5e2e86;
    font-weight: bold;
    letter-spacing: 0.5px;
}

.heading p {
    text-transform: capitalize;
    letter-spacing: 4px;
    color: black;
    font-size: 17px;
}

.heading p::after {
    content: '';
    width: 70px;
    height: 2px;
    background-color: black;
    display: block;
    margin: 20px auto;
}

.heading--white p {
    color: white;
}


.section {
    padding: 3rem 0;
}

/* HEADER */
header {
    background-color: #5e2e86;
}

.header__top {
    background-color: #5e2e86;
    font-size: 14px;
}

.header__top a {
    text-decoration: none;
    color: white;
    transition: all 0.5s;
}

.header__right a {
    width: 30px;
    height: 30px;
    background-color: black;
    border: 1px solid black;
    display: inline-block;

    text-align: center;
    line-height: 30px;
    margin-left: 0.25rem;
}

.header__right a:hover {
    background-color: #5e2e86;
    border-color: white;
}


.header__left a:hover {
    color: black !important;
}


.navInstruction a {
    color: #fff;
}

.navInstruction .navbar-brand p:first-child {
    font-size: 36px;
    color: rgba(254, 153, 1);

}

.navInstruction .navbar-brand p:first-child i {
    transform: skewX(-10deg);
}

.navInstruction .navbar-brand p:last-child {
    font-size: 11px;
    color: rgba(254, 153, 1);
    letter-spacing: 3px;
    font-weight: bold;
}

#navbarInstruction .nav-item {
    margin: 0 15px;
}

#navbarInstruction .nav-item::after {
    content: '';
    width: 0;
    height: 2px;
    background-color: #9f78a6;
    display: block;
    transition: all 0.5s;
}

#navbarInstruction .nav-item:hover::after {
    width: 100%;
}

#navbarInstruction .nav-link {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    transition: all 0.5s;
}

#navbarInstruction .nav-item:hover .nav-link {
    color: rgba(254, 153, 1);
}

#navbarInstruction .nav-item.active .nav-link {
    color: rgba(254, 153, 1);
}

#navbarInstruction .nav-item.active::after {
    width: 100%;
}

#navbarInstruction .dropdown-menu {
    background-color: rgba(0, 0, 0, 0.6);
    border: 1px solid rgba(0, 0, 0, 0.6);
}

#navbarInstruction .dropdown-item {
    color: white;
    transition: all 0.5s;
}

#navbarInstruction .dropdown-item:focus, #navbarInstruction .dropdown-item:hover {
    background-color: transparent;
    color: #e84fff;
}

/* btn login */
header .btn__login {
    border: 2px solid rgba(254, 153, 1);
    color: white;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
}

header .btn__login:focus {
    box-shadow: none;
}

header .btn__login:hover {
    color: white;
}

header .btn__login i {
    margin-left: 0.5rem;
}

/* CAROUSEL */

#carouselCyber .carousel-caption {
    /* chỉ áp dụng với thẻ có position: absolute; */
    top: 55%;
    left: 50%;

    transform: translate(-50%, -50%);
}

#carouselCyber .carousel-caption h1 {
    font-size: 52px;
    color: #fe9901;
}

#carouselCyber .carousel-caption p {
    letter-spacing: 4px;
    line-height: 1.8rem;

    width: 70%;
    margin: 0 auto;
    color: #fe9901;
    margin-bottom: 25px;
    font-weight: 300;
}

#carouselCyber .carousel-caption button {
    padding: 11px 20px;
    color: #fe9901;
    border: 1px solid #fe9901;
    border-radius: 0;
    letter-spacing: 2px;
    font-size: 14px;
    transition: all 0.5s;
}

#carouselCyber .carousel-caption button:hover {
    background-color: #ff4f81;
    border-color: #ff4f81;
}

/* chỉnh ảnh */
#carouselCyber .carousel-inner .carousel-item img {
    height: 500px;
}

/* WELCOME */
.welcome__content>p {
    width: 80%;
    margin: 0 auto;

    text-align: center;
    font-size: 15px;
    /* 1em = 15px */
    line-height: 1.8em;
    color: #343441;
    letter-spacing: 1px;
    padding: 0.5rem 0 3rem;
}

.welcome__service {
    align-items: center;
}

.welcome__service .welcome__col {
    justify-content: center;
}

.welcome__service .welcome__item {
    border: 1px solid blueviolet;
    border-radius: 50%;
    margin-bottom: 3rem;
    text-align: center;
    background-color: #5e2e86;
}

.welcome__item .welcome__text {
    padding: 2rem;
    color: white;
}

.welcome__text p {
    margin: 0;
}

.welcome__item i {
    font-size: 2rem;
    color: rgba(254, 153, 1);
}

/* OFFER */


.offer__item {
    padding: 25px 40px;
    box-shadow: 0px 1px 8px 0px rgba(158, 158, 158, 0.75);
    text-align: center;
    background-color: #5e2e86;
    transition: all 0.5s;
    margin-bottom: 1rem;
}

/* .offer__item:hover {
    background-color: #12ccc3;
} */

.offer__item i {
    color: rgba(254, 153, 1);
    font-size: 40px;
}

.offer__item span {
    text-decoration: underline;
    color: rgba(254, 153, 1);
}

.offer__item h3 {
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    margin: 25px 0 20px;
}

.offer__item p {
    color: #fff;
    font-size: 14px;
    letter-spacing: 0.5px;
}

/* FEEDBACK */


.feedback__content {
    box-shadow: 0px 1px 7px #8e8e8e;
    /* background-color: rgba(0, 0, 0, 0.363); */
    background-color: rgba(94, 46, 134);
    padding: 1rem;
}

.feedback__content .item {
    color: white;
    padding: 1rem;
}

.feedback__top {
    padding: 1rem 1.5rem;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.47);
    position: relative;
}

.feedback__top::after {
    content: '';
    border-top: 9px solid rgba(0, 0, 0, 0.47);
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    position: absolute;
    top: 100%;
    left: 28%;
}

.feedback__content .feedback__bottom img {
    width: 28%;
    display: inline-block;
}

.feedback__bottom {
    display: flex;
    justify-content: center;

    width: 55%;
    margin: 2rem auto 0;
}

.feedback__name p {
    margin: 0;
    color: rgba(254, 153, 1);
}

.feedback__name {
    margin-left: 5px;
}

.feedback__name p:first-child {
    color: rgba(254, 153, 1);

    font-weight: bold;
    font-size: 1.1rem;
}

.feedback__content .owl-theme .owl-dots .owl-dot span {
    background-color: rgba(254, 153, 1);
    opacity: 0.5;
}

.feedback__content .owl-theme .owl-dots .owl-dot.active span, .feedback__content .owl-theme .owl-dots .owl-dot:hover span {
    opacity: 1;
}

.feedback__content .owl-theme .owl-dots .owl-dot:focus {
    outline: none;
}

/* NEWS */
.news__content img {
    border: 2px solid #dedede;
}

.news__content h3 {
    font-size: 1.2rem;
    font-weight: bold;
}

.news__content a {
    text-decoration: none;
    color: #343441;
    letter-spacing: 1px;
    transition: all 0.5s;
}

.news__content h4 {
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 1px;
    color: #343441;
    font-style: italic;
    margin: 1rem 0;
}

.news__content p {
    color: #999;
    margin-top: 1rem;
    line-height: 1.8rem;
    font-size: 0.9rem;
}

.news__content .row:last-child {
    margin-top: 5rem;
}

/* MODAL */

/* #cyberModal img{
    width:100%;
} */

#cyberModal h5 {
    font-size: 29px;
    color: #ff4f81;
    font-weight: bold;
}

#cyberModal p {
    font-size: 14px;
    color: #777;
    line-height: 1.8em;
    padding: 20px 0;
}

#cyberModal .modal-dialog {
    max-width: 600px;
}

/* FOOTER */
footer {
    background-color: #5e2e86;
}

.footer__top h3 {
    font-size: 24px;
    font-weight: bold;
    color: rgba(254, 153, 1);
    letter-spacing: 1px;
    margin-bottom: 1.5rem;
}

.footer__top p {
    color: white;
    font-size: 15px;
    line-height: 2em;
    margin-bottom: 2rem;
    letter-spacing: 1px;
}

.footer__link, .footer__contact {
    margin-bottom: 1rem;
}

.footer__link i {
    color: #fff;
    margin-right: 1rem;
}

.footer__link a, .footer__contact a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    line-height: 1.5em;
    letter-spacing: 1px;
    transition: all 0.5s;
}

.footer__link a:hover, .footer__contact a:hover {
    color: white;
}

.footer__contact i {
    width: 32px;
    height: 32px;
    border: 1px solid rgba(254, 153, 1);
    color: white;
    text-align: center;
    line-height: 32px;
    margin-right: 1rem;
}

.footer__form {
    margin-top: 3rem;
}

.footer__form label {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1px;
}

.footer__form input {
    padding: 14px;
    border-radius: 0;
    border: none;
    letter-spacing: 1px;
    color: #888888;
    height: auto;
}

.footer__form button {
    background-color: rgba(254, 153, 1);
    padding: 12px 35px;
    letter-spacing: 1px;
    border-radius: 0;
    color: white;
    outline: none;
    transition: all 0.5s;
}



.footer__bottom {
    background-color: #5e2e86;
    text-align: center;
    padding: 1rem 0;
    letter-spacing: 1px;
    color: white;
}

.footer__bottom a {
    text-decoration: none;
    color: #fe9901;
    transition: all 0.5s;
}

.footer__bottom a:hover {
    color: white;
}
/* Back to top */
.backToTop {
    position: fixed;
    right: 50px;
    bottom: 50px;
    visibility: hidden;
    opacity: 0;
}

.cd-top--is-visible {
    visibility: visible;
    opacity: 1;
}

.backToTop i {
    color: rgba(254, 153, 1);
    border: 2px solid rgba(254, 153, 1);
    width: 40px;
    height: 40px;
    font-size: 2rem;
    text-align: center;
    line-height: 36px;
    border-radius: 50%
}

/* owl.theme.carsuoul */
.navbar-collapse {
    justify-content: space-between;
}
.navbar-collapse button span {
    margin-left: 5px;
}

/* .owl-carousel,.owl-carousel .owl-item{-webkit-tap-highlight-color:transparent;position:relative}.owl-carousel{display:none;width:100%;z-index:1}.owl-carousel .owl-stage{position:relative;-ms-touch-action:pan-Y;touch-action:manipulation;-moz-backface-visibility:hidden}.owl-carousel .owl-stage:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}.owl-carousel .owl-stage-outer{position:relative;overflow:hidden;-webkit-transform:translate3d(0,0,0)}.owl-carousel .owl-item,.owl-carousel .owl-wrapper{-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0)}.owl-carousel .owl-item{min-height:1px;float:left;-webkit-backface-visibility:hidden;-webkit-touch-callout:none}.owl-carousel .owl-item img{display:block;width:100%}.owl-carousel .owl-dots.disabled,.owl-carousel .owl-nav.disabled{display:none}.no-js .owl-carousel,.owl-carousel.owl-loaded{display:block}.owl-carousel .owl-dot,.owl-carousel .owl-nav .owl-next,.owl-carousel .owl-nav .owl-prev{cursor:pointer;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.owl-carousel .owl-nav button.owl-next,.owl-carousel .owl-nav button.owl-prev,.owl-carousel button.owl-dot{background:0 0;color:inherit;border:none;padding:0!important;font:inherit}.owl-carousel.owl-loading{opacity:0;display:block}.owl-carousel.owl-hidden{opacity:0}.owl-carousel.owl-refresh .owl-item{visibility:hidden}.owl-carousel.owl-drag .owl-item{-ms-touch-action:pan-y;touch-action:pan-y;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.owl-carousel.owl-grab{cursor:move;cursor:grab}.owl-carousel.owl-rtl{direction:rtl}.owl-carousel.owl-rtl .owl-item{float:right}.owl-carousel .animated{animation-duration:1s;animation-fill-mode:both}.owl-carousel .owl-animated-in{z-index:0}.owl-carousel .owl-animated-out{z-index:1}.owl-carousel .fadeOut{animation-name:fadeOut}@keyframes fadeOut{0%{opacity:1}100%{opacity:0}}.owl-height{transition:height .5s ease-in-out}.owl-carousel .owl-item .owl-lazy{opacity:0;transition:opacity .4s ease}.owl-carousel .owl-item .owl-lazy:not([src]),.owl-carousel .owl-item .owl-lazy[src^=""]{max-height:0}.owl-carousel .owl-item img.owl-lazy{transform-style:preserve-3d}.owl-carousel .owl-video-wrapper{position:relative;height:100%;background:#000}.owl-carousel .owl-video-play-icon{position:absolute;height:80px;width:80px;left:50%;top:50%;margin-left:-40px;margin-top:-40px;cursor:pointer;z-index:1;-webkit-backface-visibility:hidden;transition:transform .1s ease}.owl-carousel .owl-video-play-icon:hover{-ms-transform:scale(1.3,1.3);transform:scale(1.3,1.3)}.owl-carousel .owl-video-playing .owl-video-play-icon,.owl-carousel .owl-video-playing .owl-video-tn{display:none}.owl-carousel .owl-video-tn{opacity:0;height:100%;background-position:center center;background-repeat:no-repeat;background-size:contain;transition:opacity .4s ease}.owl-carousel .owl-video-frame{position:relative;z-index:1;height:100%;width:100%}

.owl-theme .owl-dots,.owl-theme .owl-nav{text-align:center;-webkit-tap-highlight-color:transparent}.owl-theme .owl-nav{margin-top:10px}.owl-theme .owl-nav [class*=owl-]{color:#FFF;font-size:14px;margin:5px;padding:4px 7px;background:#D6D6D6;display:inline-block;cursor:pointer;border-radius:3px}.owl-theme .owl-nav [class*=owl-]:hover{background:#869791;color:#FFF;text-decoration:none}.owl-theme .owl-nav .disabled{opacity:.5;cursor:default}.owl-theme .owl-nav.disabled+.owl-dots{margin-top:10px}.owl-theme .owl-dots .owl-dot{display:inline-block;zoom:1}.owl-theme .owl-dots .owl-dot span{width:10px;height:10px;margin:5px 7px;background:#D6D6D6;display:block;-webkit-backface-visibility:visible;transition:opacity .2s ease;border-radius:30px}.owl-theme .owl-dots .owl-dot.active span,.owl-theme .owl-dots .owl-dot:hover span{background:#869791} */